body {
  // background-color: rgb(101, 164, 185);
  color: white;

  background: url(https://media.discordapp.net/attachments/598349784096440332/862799167939674122/kafsyrupBackground.JPG?width=1600&height=900) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px #8a27b1
}

h2 {
  font-size: 2rem;
  text-shadow: 2px 2px #8a27b1
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.metricsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0rem;
  flex-wrap: wrap;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 8rem;

}

#formHeader {
  display: flex;
  justify-content: center;
}

#form-button {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 5rem;
  // margin-right: 0px;
  margin: 1rem;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  text-shadow: 1.3px 1.3px #8a27b1;
}

.broker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.metricGraph {
  color: black;
  margin: 1rem;
  background: #f3f3f3;
  padding: 2rem;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
  border-radius: 15px;
}